
/* .App{
    border: 1px solid red;
    width: inherit;
    height: 100% !important;
} */

.box{
    width: 550px;
    border-radius: 4px;
    height: 290px;
    background: white;
    margin-top: 14em;
    padding: 2em;
    z-index: 22;
}

.txt{
    color: #444;
    font-size: 13px;
    margin-top: -3em;
}

.inp{
    width: 100%;
    /* outline: 0; */
    padding: 9px 4px;
}

.inp_wrapper{
    margin-top: 10px;
}

.btn{
    color: #fff;
    outline: none;
    background: #007AFE;
    border: 0;
    margin: 2px;
    background-color: #007AFE;
    background: midnightblue;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 30%;
    height: 40px;
    border-radius: 10px;
}

.frm{
    margin-top: 2em;
}

.er_msg{
    color: #ba1100;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    word-spacing: 2px;
    user-select: none;
    cursor: default;
    margin-top: 3px;
}

.jhnujn{
    width: 100%;
    height: 400px;
    position: fixed;
    bottom: 0;
    left: 6em;
    cursor: pointer;
    z-index: 1 !important;
}

.logs{
    width: 24.3%;
    height: 43px;
    top: 0.9em;
    cursor: pointer;
    position: absolute;
    z-index: 1 !important;
    right: 0;
}

@media (max-width:'500px') {
    .box{
        width: 100vw !important;
    }
}